
img {
    max-width: 100%;
    height: auto; 
}

.bg-overlay {
    position: relative;
    z-index: 1; 

    &::after {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: rgba($color-secondary, 0.7); 
    }
}

.bg-img {
    background-position: center center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important; 
}

