{% extends "base.html.twig" %}

{% block title 'page en construction' %}

{% block body %}

<section class="page-header home-header container">
    <img src="{{ asset('images/home-header-bg.jpg') }}" class="img-responsive" alt="Gamma Hotel">
</section>

<section class="container home-content">

    <h2 style="text-align: center;">Page en construction</h2>

</section>

{% endblock %}