{% extends "base.html.twig" %}

{% block title 'page en construction' %}

{% block body %}

    <section class="container home-content">
        <h2 style="text-align: center;">Page en construction</h2>
        <img src="{{ asset('images/home-header-bg-1.jpg') }}" class="img-responsive" alt="Gamma Hotel">
    </section>

{% endblock %}
