{% extends 'base.html.twig' %}

{% block title 'Tous les logements' %}

{% block body %}


    <!-- Breadcrumb Start -->
    <div class="breadcrumb-section bg-img bg-overlay jarallax" style="background-image:url({{ asset('images/hotel9.jpg') }})">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-section__content text-center">
                        <h2 class="page-title">Les logements</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="index-2.html">Accueil</a></li>
                                <li class="breadcrumb-item--icon"><i class="fas fa-chevron-right"></i></li>
                                <li class="breadcrumb-item active" aria-current="page">Les chambres</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Rooms Section Start -->
    <div class="rooms-section section-padding-100-0">

        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-10">

                    {% for acc in accomodationRooms %}
                        {% include 'accomodation/_card_accomodation.html.twig' with {'acc' : acc} only %}
                    {% endfor %}

                    {% for acc in accomodationApt %}
                        {% include 'accomodation/_card_accomodation.html.twig' with {'acc' : acc} only %}
                    {% endfor %}

                    <!-- Pagination -->
                    <!--
                    <nav class="gamma-pagination wow fadeInUp mb-100" data-wow-delay="1000ms">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Suivant <i class="fa fa-angle-right"></i></a></li>
                        </ul>
                    </nav>
                    -->
                </div>
            </div>
        </div>
    </div>
    <!-- Rooms Section End -->

{% endblock %}
