<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Gamma Hotel{% endblock %}</title>
    <link rel="shortcut icon" href="images/favicon.ico" />
    {% block stylesheets %} {{ encore_entry_link_tags('app') }} {% endblock %}
</head>
<body>

{% include 'default/_header.html.twig' %}

{% block body %}{% endblock %}

{% include 'default/_footer.html.twig' %}

<script src="bundle.js"></script>
{% block javascripts %} {{ encore_entry_script_tags('app') }} {% endblock %}
</body>
</html>

